.menuPageNav-container{
	max-width: 75%;
    background: white;
    padding: 0 15px;
    min-height: 18px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
    z-index: 950;
}

.menuPageNav-content{
  display: flex;
  text-align: center;
	margin: 0 57px;
	font-weight: 900;
  box-sizing: border-box;
}

.menuPageNav-content a{
	margin-right: 15px;
	cursor: pointer;
	text-decoration: none;
	color: rgba(0,0,0,0.55);
  padding: 15px 0;
  box-sizing: border-box;
}

.menuPageNav-focus{
  color:black !important;
  border-bottom: 3px solid blue;
}

.menuPageNav-content a:hover{
  color:black !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.menuPageNav-sticky {
  position: fixed;
  top: 60px;
  width: 75%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.menuPageNav-sticky-content {
  padding-top: 80px;
}