
.sponsor-container {
/*	width: 100%;*/
    max-width: 75%;
    background: white;
    padding: 15px;
}

#sponsor-container {
	font-size: 22.3px;
	font-weight: 700;
	margin: 0 0 12px 0;
	padding-left: 48px;
}


